body {
    font-family: 'Nunito';
}


.custom{
    height: 500px;
    padding: 50px 20px;
}

.slideimg{
    height: 200px !important;
    width: 150px !important;
}

.custom-product{
    height: 550px !important;
}
.pad{
    margin-top: 20px;
}

.trending-image{
    height: 100px;
}
.trending-item{
    float: left;
    width: 20%;
}

.trending-wrappper{
    margin: 30px;
}

.titlemain{
    margin-left: 50% !important;
    text-transform: capitalize;
    font-size: 32px;
    padding: 10px 0 0 0;
    color: rgb(4, 0, 255);
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.underbar{
    width: 270px;
    height: 4px;
    margin-left: 50% !important;
    background-color: black;
    margin: 0 0 10px 0;
}

.imageheight{
    height: 350px;
    width: 170px;
    border-radius: 15px;
}

.search-box{
    width: 800px !important;
}

.marginm{
    min-height: 100vh;
    margin-top: 500px;
}
.bar{
    height: 4px;
    width: 270px;
    margin-bottom: 30px;
}